#Functions
export(rTreeBind)
export(as.mulTree)
export(mulTree)
export(read.mulTree)
export(hdr.mulTree)  #Do embed in summary and plot?
export(table.mulTree)  #Do embed in summary and plot?
export(summary.mulTree) #Assign S3
export(plot.mulTree) #Assign S3